.add-form {
  margin-bottom: 40px;
}
.form-control-check input {
  flex: 2;
  height: 20px;
}
.btn {
  display:inline-block ;
  padding: 30px 100px;
  margin-block-start: 10px;
}
.btn-block {
  display: inline-table;
}
